# Ignore local configuration file
local_paths.py
*.h5
Scripts/bp_lgbm/data_features/
CV_results*
configs
mi_results
shap_results
Bland_Altman_results
.venv310
Scripts/fiducial_quality_filtering/outputs/
Scripts/fiducial_quality_filtering/*.log


# Ignore Python cache
__pycache__/
*.pyc
Scripts/test.py
